h1 {
  color: var(--bege);
  text-align: center;
  padding: 1rem 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--verde-escuro);
  border-radius: 10px;
  box-shadow: 1px 4px 6px rgba(255, 255, 255, 0.2); 
  display: block;
}

#Cabecalho {
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 1rem;
  top: 1rem;
  display: flex;
  margin-top: 5rem;
  max-height: 100vh;
}