.ListaTarefa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

/* Estilização do container principal, organizando os itens em forma de coluna */

.ListaTarefa h2 {
    color: var(--azul-ciano);
    text-align: center;
    font-family: segoe ui;
    font-size: 2rem;
    margin-top: 1rem;
}

/* Estilização padrão do h2 dentro da classe lista tarefa */

.InputContainer {
    flex-direction: column;
    width: 35vw;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 1rem; 
}

/* Estilização do container de input, organizando os itens em forma de coluna */

.Tarefas {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização do container de tarefas centralizando os itens */

.Tarefas textarea{
    width: 100%;
    border: 1px solid var(--verde-escuro);
    border-radius: 5px;
}

/* Estilização do textarea, definindo a largura e o estilo da borda */

.ListaTarefa input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--verde-escuro);
    border-radius: 5px;
    text-align: left;
}

/* Estilização do input, definindo a largura, estilo da borda, tamanho da fonte */

.ListaTarefa .BotaoLista {
    width: auto !important;
    margin-right: 0rem !important;
    font-size: 1rem; 
    margin-top: 1.5rem !important;
    height: 7.5rem !important;    
    background-color: var(--azul-ciano);
    color: var(--cinza);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 1px 4px 6px rgba(255, 255, 255, 0.2);
}

/* Estilização do botão de adicionar tarefa, definindo a largura, altura, cor de fundo, cor do texto, borda e sombra */
/* É importante avisar que o uso do !important é para sobrescrever variáveis do Bootstrap */

.ListaTarefa button:hover {
    background-color: #00d9ff; 
}

.ListaTarefa ul{
    padding-left: 0 !important;
}

/* Estilização da lista de tarefas, removendo o padding padrão do Bootstrap */

.ListaTarefa li {
    transition: ease-in-out 0.3s;
    width: 40vw;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid var(--verde-escuro);
    border-radius: 5px;
    margin-top: 0.5rem; 
    background-color: var(--branco);
    color: var(--cinza);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: 450;
    word-break: break-all;
    white-space: pre-wrap;
    text-align: justify;
}

/* Estilização da lista de tarefas, definindo a largura, altura, cor de fundo, cor do texto, borda, tamanho da fonte, peso da fonte */

.ListaTarefa .Botoes {
    display: flex;
    flex-direction: column; 
}

.ListaTarefa .DropdownH2 {
    display: flex;
    flex-direction: row;
}

.ListaTarefa .TarefaTexto {
    display: flex;
    flex-direction: column; 
}

/* Essas três classes servem para a organização dos componentes nas divs, mas não tem estilizações além do display:flex e direções */

.ListaTarefa li button {
    border-width: 0 !important;
    border-radius: 5px;
    justify-content: space-around;
    width: 7.5rem;
    height: 3rem;
    background-color: var(--verde-escuro);
    color: var(--bege);
}

/* Estilização do botão de remoção de tarefa e conclusão de tarefa */ 

.ListaTarefa li button:hover {
    background-color: var(--verde-claro); 
    transition: ease-in-out 0.2s;
}

.ListaTarefa .Concluida {
    transition: ease-in-out 0.3s;
    background-color: var(--azul-ciano);
    color: var(--cinza);
}

.ListaTarefa .Concluida button {
    background-color: var(--branco);
    color: var(--cinza);
}

.ListaTarefa .Concluida button:hover {
    transition: ease-in-out 0.2s;
    background-color: #eb4848;
}

/* Essas quatro classes e respectivos hovers servem para a adição de animações simples e cores diferentes durante o hover do mouse */



